:root {
    --font-familly-main: "Poppins", sans-serif;
    --font-familly-secondary: "Inter", sans-serif;
    --font-family-thirdary:  "Manrope", sans-serif;
    --font-familly-fourth:  "Roboto", sans-serif;
    --font-family-fifth:  "Public Sans", sans-serif;
    --font-family-sixth:"Quicksand", sans-serif;
    --font-family-seventh: "Plus Jakarta Sans", sans-serif;


    // Цвета
    --bg-color: #f9f9f9;
    --primary-color: #6c5fbc;
    --secondary-color:#606060;
    --thirdary-color: #323142;
    --fourth-color: #acadb9;
    // Размеры TODO: мб потом другой подход
    --navbar-height: 62px;
}