.hero {
  padding: 220px 0 120px;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }
}

.header {
  flex: 1 1 49%;

  .subtitle {
    display: inline-block;
    padding-left: 60px;
    position: relative;
    font-family: var(--font-familly-main), sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2px;
    color: rgba(32, 31, 31, 0.2);
    margin: 0 0 20px;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 54px;
      height: 2px;
      background-color: rgba(32, 31, 31, 0.2);
    }
  }

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 75px;
    line-height: 1.2;
    letter-spacing: -3px;
    color: #201F1F;
    margin: 0 0 20px;

    span {
      color: var(--primary-color);
    }
  }

  .text {
    font-family: var(--font-familly-secondary), sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: #676767;
    opacity: 0.7;
    margin: 0 0 55px;

    span  {
      color: var(--primary-color);
    }
  }
}

.buttons {
    button {
      margin-right: 18px; // TODO: потом поменять
    }
}

.reviews {
  display: flex;
  align-items: center;
  margin-top: 35px;
  .stars {
    margin: 8px 0 0 20px;
  }

  p {
    font-family: var(--font-family-seventh), sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #334155;
    opacity: 0.7;
    margin: 10px 0 0 9px;

  }
}
//right side
.decor {
  position: relative;
  max-width: 40%;
  margin-right: 9.5%;


  &:after {
    content: "";
    position: absolute;
    top: 12%;
    right: -14.8%;
    width: 100px;
    height: 100px;
    z-index: 1;
    background: url('../../../shared/assets/images/arrow.svg') top center no-repeat;
    background-size: cover;
  }
}


.notification {
  position: absolute;
  bottom: 90%;
  left: 40%;
  width: 73%;

  &Item {
     background: #ffffff;
     border-radius: 16px;
     box-shadow: 0 16px 25px rgba(70, 70, 70, 0.05);
     padding: 5px 15px;
     display: flex;
     align-items: center;

    &:before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 8%;
      width: 42px;
      height: 28px;
      background: url('../../../shared/assets/images/decor-1.svg') top center no-repeat;
      background-size: cover;
    }
  }

  &Img {
    max-width: 23%;
    margin-right: 20px;

    img {
      max-width: 100%;
      vertical-align: top;
    }
  }

  &Info {
    width: 100%;
    h2 {
      font-family: var(--font-familly-main),sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: var(--thirdary-color);
      margin: 0 0 5px;
    }

    p {
      font-family: var(--font-familly-main),sans-serif;
      font-weight: 500;
      font-size: 10px;
      color: var(--thirdary-color);
      margin: 0 0 5px;
    }

    div {
      text-align: right;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 11px;
      color: var(--fourth-color);
    }
  }
}

.graph {
  position: absolute;
  bottom: -15%;
  left: 0;
  max-width: 50%;

  &Item {
    background-color: #ffffff;
    box-shadow: 14.1205px 18.8273px 37.6546px rgba(26, 32, 44, 0.15);
    border: 1px solid #edf2f7;
    border-radius: 14px;
    padding: 5px 0;

    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: -10%;
      width: 38px;
      height: 33px;
      z-index: 2;
      background: url('../../../shared/assets/images/decor-2.svg') top center no-repeat;
      background-size: cover;
    }

    img {
      max-width: 100%;
      vertical-align: top;
    }
  }
}
