// TODO: Пока ужасно и накидано, потом исправлю, хочу сделать верстку сначала

.hero {
  padding: 220px 0 120px;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }
}

.header {
  flex: 1 1 49%;

  .subtitle {
    display: inline-block;
    padding-left: 60px;
    position: relative;
    font-family: var(--font-familly-main), sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2px;
    color: rgb(32 31 31 / 20%);
    margin: 0 0 20px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 54px;
      height: 2px;
      background-color: rgb(32 31 31 / 20%);
    }
  }

  h1 {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 75px;
    line-height: 1.2;
    letter-spacing: -3px;
    color: #201F1F;
    margin: 0 0 20px;

    span {
      color: var(--primary-color);
    }
  }

  .text {
    font-family: var(--font-familly-secondary), sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: #676767;
    opacity: 0.7;
    margin: 0 0 55px;

    span  {
      color: var(--primary-color);
    }
  }
}

.buttons {
    button {
      margin-right: 18px; // TODO: потом поменять
    }
}

.reviews {
  display: flex;
  align-items: center;
  margin-top: 35px;

  .stars {
    margin: 8px 0 0 20px;
  }

  p {
    font-family: var(--font-family-seventh), sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #334155;
    opacity: 0.7;
    margin: 10px 0 0 9px;

  }
}

//right side
.decor {
  position: relative;
  max-width: 40%;
  margin-right: 9.5%;


  &::after {
    content: "";
    position: absolute;
    top: 12%;
    right: -14.8%;
    width: 100px;
    height: 100px;
    z-index: 1;
    background: url('../../../shared/assets/images/arrow.svg') top center no-repeat;
    background-size: cover;
  }
}


.notification {
  position: absolute;
  bottom: 90%;
  left: 40%;
  width: 73%;

  &Item {
     background: #fff;
     border-radius: 16px;
     box-shadow: 0 16px 25px rgb(70 70 70 / 5%);
     padding: 5px 15px;
     display: flex;
     align-items: center;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 8%;
      width: 42px;
      height: 28px;
      background: url('../../../shared/assets/images/decor-1.svg') top center no-repeat;
      background-size: cover;
    }
  }

  &Img {
    max-width: 23%;
    margin-right: 20px;

    img {
      max-width: 100%;
      vertical-align: top;
    }
  }

  &Info {
    width: 100%;

    h2 {
      font-family: var(--font-familly-main),sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: var(--thirdary-color);
      margin: 0 0 5px;
    }

    p {
      font-family: var(--font-familly-main),sans-serif;
      font-weight: 500;
      font-size: 10px;
      color: var(--thirdary-color);
      margin: 0 0 5px;
    }

    div {
      text-align: right;
      font-family: Poppins, sans-serif;
      font-weight: 500;
      font-size: 11px;
      color: var(--fourth-color);
    }
  }
}

.graph {
  position: absolute;
  bottom: -15%;
  left: 0;
  max-width: 50%;

  &Item {
    background-color: #fff;
    box-shadow: 14.1205px 18.8273px 37.6546px rgb(26 32 44 / 15%);
    border: 1px solid #edf2f7;
    border-radius: 14px;
    padding: 5px 0;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: -10%;
      width: 38px;
      height: 33px;
      z-index: 2;
      background: url('../../../shared/assets/images/decor-2.svg') top center no-repeat;
      background-size: cover;
    }

    img {
      max-width: 100%;
      vertical-align: top;
    }
  }
}


// FEATURES TODO: destructing

.features {
  background: var(--primary-color);
  padding: 55px 0;
  position: relative;
  overflow: hidden;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    flex: 0 1 33.33%;
    padding: 0 25px;
    text-align: center;
    border-right: 1px solid #c5c5c5;

    &:nth-child(3n) {
      border: none;
    }

    div {
      font-family: var(--font-familly-main), sans-serif;
      color: #fff;
      font-weight: 700;
      font-size: 43px;
      margin-bottom: 10px;
    }

    p {
      font-family: var(--font-familly-secondary), sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #C5BFED;
      margin: 0;
    }
  }
}

// DOWNLOAD

.download_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.image {
  flex-shrink: 1;
  position: relative;

  img {
    max-width: 100%;
    vertical-align: top;
  }

  &::before {
    content: "";
    position: absolute;
    top: -5%;
    left: 100%;
    width: 38px;
    height: 33px;
    transform: rotate(180deg);
    z-index: 2;
    background: url('../../../shared/assets/images/decor-2.svg') top center no-repeat;
  }
}

.content {
  flex: 0 1 48%;

  h2 {
    text-align: left;
    margin: 0 0 60px;
    font-family: var(--font-familly-main), sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: #323142;

    span {
      color: var(--primary-color)
    }
  }

  ul {
    margin-bottom: 50px;

    li {
      list-style: initial;
      font-family: var(--font-familly-secondary), sans-serif;
      font-size: 20px;
      line-height: 1.5;
      color: #606060;
      margin-bottom: 25px;

      &::marker {
        unicode-bidi: isolate;
        font-variant-numeric: tabular-nums;
        text-transform: none;
        text-indent: 0;
        text-align: start;
        text-align-last: start;
      }
    }
  }

  button {
    &::before {
      content: "";
      position: absolute;
      top: 80%;
      left: 90%;
      width: 169px;
      height: 61px;
      background: url('../../../shared/assets/images/download-arrow.svg') top center no-repeat;
      background-size: cover;
    }
  }
}

.restaurants {
  h2 {
    margin: 0 0 85px;
    font-family: var(--font-familly-main), sans-serif;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    color: #323142;

    span {
      color: var(--primary-color)
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
    margin-bottom: 65px;

    li {
      border-radius: 30px;
      overflow: hidden;
      background-color: #fff;
      border: 1.5px solid #f4f4f6;
      box-shadow: 6px 71px 36px rgb(229 229 229 / 70%);
      transition: transform 0.3s ease;

      .res_img {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 98%;
          z-index: 2;
          background-color: rgb(50 49 66 / 10%);
        }
      }

      .info {
        padding: 10px 10px 15.76px 35px;

        .tag {
          font-family: Poppins, sans-serif;
          font-size: 13px;
          max-width: fit-content;
          border-radius: 5px;
          padding: 5px 8px;
          margin-bottom: 5px;
        }

        h3 {
          font-family: var(--font-familly-main), sans-serif;
          font-weight: 600;
          font-size: 26px;
          color: #323142;
          margin: 0 0 5px;
        }

        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 30px;

          .time {
            font-family: var(--font-family-thirdary), sans-serif;
            font-size: 20px;
            color: #8E97A6;
            margin-right: 5px;
          }

          .raiting {
            font-size: 20px;
            flex: 1 1 auto;
            font-family: var(--font-family-thirdary), sans-serif;
            color: #8e97a6;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              top: -15%;
              right: 100%;
              background: url('../../../shared/assets/images/purple-star.svg') top center no-repeat;
              width: 26px;
              height: 27px;
            }
          }
        }
      }
    }
  }

  .view {
    text-align: right;

    a{
      font-family: Poppins, sans-serif;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: -0.1px;
      color: #acadb9;
      margin-right: 5px;

      svg {
        margin-left: 5px;
        width: 19px;
        height: 19px;
        stroke: #acadb9;
        fill: none;
      }
    }
  }
}


.red {
  color: #fb461d;
  background-color: #f7c5ba;
}

.yellow {
  color: #daa31a;
  background-color: #f7edd0;
}

.green {
  color: #309d5c;
  background-color: #72e7a1;
}

.dishes {
  h2 {
    margin: 0 0 75px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    color: #323142;

    span {
      color: var(--primary-color)
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 30px;
    margin-bottom: 65px;

    li {
      background-color: #fff;
      border: 1.44089px solid #f4f4f6;
      box-shadow: 7px 82px 41px rgb(229 229 229 / 70%);
      border-radius: 35px;
      overflow: hidden;
      padding: 17px;
      position: relative;
      transition: transform 0.3s ease;

      .img {
        img {
          max-width: 185px;
          max-height: 185px;
          vertical-align: top;
        }
      }

      .tag {
        font-size: 12px;
        margin-bottom: 5px;
        max-width: fit-content;
        font-family: Poppins, sans-serif;
        border-radius: 5px;
        padding: 4px 8px;
      }

      h3 {
        font-family: Poppins, sans-serif;
        font-weight: 600;
        font-size: 23px;
        color: #323142;
        margin: 0 0 5px;
      }

      .info {
        display: flex;
        align-items: center;
        margin-bottom: 7px;

        .time {
          font-family: Manrope, sans-serif;
          font-size: 17px;
          color: #8E97A6;
          margin-right: 35px;
        }

        .raiting {
          font-size: 17px;
          font-family: Manrope, sans-serif;
          color: #8e97a6;
          position: relative;

          &::before {
            margin-right: 4px;
            content: "";
            position: absolute;
            top: -20%;
            right: 100%;
            background: url('../../../shared/assets/images/purple-star.svg') top center no-repeat;
            width: 23px;
            height: 23px;
          }
        }
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        columns: 5px;
        margin: 8px 0 10px;

        .price {
          font-family: Manrope, sans-serif;
          font-weight: 700;
          font-size: 26px;
          color: #323142;

          span {
            color: #8e97a6;
            font-size: 20px;
          }
        }

        button {
          background-color: #323142;
          padding: 10px 10px 5px;
          border-radius: 9px;

          svg {
            width: 16px;
            height: 16px;
            fill: #fff;
          }
        }
      }
    }
  }

  .view {
    text-align: right;

    a{
      font-family: Poppins, sans-serif;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: -0.1px;
      color: #acadb9;
      margin-right: 5px;

      svg {
        margin-left: 5px;
        width: 19px;
        height: 19px;
        stroke: #acadb9;
        fill: none;
      }
    }
  }
}

.purchase {
  &_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 10px;

    .header {
      flex: 0 1 50%;

      h2 {
        text-align: left;
        margin: 0 0 50px;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        font-size: 45px;
        color: #323142;

        span {
          color: var(--primary-color);
        }
      }

      ul {
        display: grid;
        grid-template-columns: 0.7fr;

        li {
          display: flex;
          align-items: center;
          background: #fff;
          box-shadow: 0 20px 30px rgb(70 70 70 / 10%);
          border-radius: 16px;
          margin-bottom: 10px;
          padding: 5px 15px;

          .img {
            max-width: 23%;
            margin-right: 20px;

            img {
              max-width: 100%;
              vertical-align: top;
            }
          }

          .info {
            width: 100%;

            h3 {
              font-family: Poppins, sans-serif;
              font-weight: 600;
              font-size: 16px;
              color: #323142;
              margin: 0 0 5px;
            }

            p {
              font-family: Poppins, sans-serif;
              font-weight: 500;
              font-size: 10px;
              color: #323142;
              margin: 0 0 5px;
            }

            div {
              text-align: right;
              font-family: Poppins, sans-serif;
              font-weight: 500;
              font-size: 11px;
              color: #acadb9;

            }
          }

        }
      }
    }

    .purchaseGraph {
      flex: 0 1 47%;
      background: #ffffff;
      border: 1px solid #edf2f7;
      border-radius: 25px;
      box-shadow: 0 20px 30px rgba(50, 49, 66, 0.2);
      padding: 43px;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;

        h3 {
          font-family: "Manrope", sans-serif;
          font-weight: 600;
          font-size: 28px;
          color: #1a202c;
          margin: 0;
        }

        select {
          font-family: "Manrope", sans-serif;
          font-weight: 600;
          font-size: 19px;
          letter-spacing: 0.6px;
          color: #1a202c;
          padding: 12px 18px;
          background: #fafafa;
          border-radius: 13px;
          cursor: pointer;

        }
      }
      .info {
        li {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #edf2f7;
          border-radius: 19px;
          padding: 25px 25px 55px;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          .wrapper {
            display: flex;
            align-items: center;
            .about {
              margin-left: 15px;
              font-family: "Manrope", sans-serif;
              letter-spacing: 0.6px;
              h4 {
                font-weight: 600;
                font-size: 19px;
                color: #1A202C;
                margin: 0 0 7px;
              }
              p {
                font-weight: 500;
                font-size: 16px;
                color: #A0AEC0;
                margin: 0;
              }
            }


          }
          .price {
            font-family: "Manrope", sans-serif;
            font-weight: 600;
            font-size: 22px;
            color: #1a202c;
          }
        }
      }
    }
  }
}

.cancelled {
  color: #fb461d !important;
}

.delivered {
  color: #309d5c !important;
}



.graphPurple {
  &::before {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    height: 9.42px;
    border-radius: 78px;
    background-color: var(--primary-color);
    opacity: 0.2;
    }

  .graphIcon {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    background-color: #f4f0ff;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 25px;
      height: 25px;
      transform: translate(-50%, -50%);
      background-size: cover;
      background: url('../../../shared/assets/images/wallet.svg') top center no-repeat;
    }
  }

  &::after {
    width: 70%;
    content: "";
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    height: 9.42px;
    border-radius: 78px;
    background-color: var(--primary-color);
  }
}

.graphYellow {
  &::before {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    height: 9.42px;
    border-radius: 78px;
    background-color: #fbac18;
    opacity: 0.2;
  }

  .graphIcon {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    background-color: #f2fdf6;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 25px;
      height: 25px;
      transform: translate(-50%, -50%);
      background-size: cover;
      background: url('../../../shared/assets/images/money.svg') top center no-repeat;
    }
  }

  &::after {
    width: 40%;
    content: "";
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    height: 9.42px;
    border-radius: 78px;
    background-color: #fbac18;
  }
}

.subscribe {
  padding-bottom: 100px;
  .wrapper {
    padding: 40px 65px;
    background: #6c5fbc url('../../../shared/assets/images/sub-bg.jpg') top center no-repeat;
    background-size: cover;
    border-radius: 14px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 30%;
      right: 5%;
      width: 274px;
      height: 276px;
      background: url('../../../shared/assets/images/food-1.svg') top center no-repeat;
      background-size: cover;
    }

    h2 {
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 70px;
      color: #ffffff;
      margin: 0 0 20px;
    }

    form {
      display: inline-block;
      position: relative;

      input {
        width: 440px;
        height: 68px;
        background: #fff;
        box-shadow: 0 7px 45px rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 14px;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        letter-spacing: 0.03em;
        color: #878787;
        padding-left: 20px;
      }

      div {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.footer {
  padding: 80px 0 40px;
  background-color: #eaeaea;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 50px;

    a {
      display: flex;
      align-items: center;

      img {
        max-width: 100%;
        vertical-align: top;
      }
      span {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 21px;
        color: var(--primary-color);
        margin-left: 5px;
      }
    }
    ul {
      display: flex;

      li {
        a {
          font-family: "Inter", sans-serif;
          font-weight: 500;
          font-size: 18px;
          color: #606060;
          transition: color 0.2s ease;
        }

        &:not(:last-child) {
          margin-right: 30px;
        }
      }

    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: 17px;
      color: #999999;
      margin: 0;
    }

    ul {
      display: flex;

      li {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}