@import "../../../app/styles/mixins/mixins";

.hero {
  padding: 220px 0 120px;

  &_container {
    @include flex-center;

    column-gap: 10px;
  }

  .header {
    .subtitle {
      @include text-style(var(--font-family-main), 600, 15px, 1, rgb(32 31 31 / 20%));

      text-transform: uppercase;
      display: inline-block;
      position: relative;
      padding-left: 60px;
      margin: 0 0 20px;

      &::before {
        @include pseudo-element(50%, auto ,auto, 0, 54px,  2px, null, null, translateY(-50%));

        background-color: rgb(32 31 31 / 20%);
      }
    }

    h1 {
      @include text-style(var(--font-family-main), 600, 75px, 1.2, #201F1F);

      margin: 0 0 20px;

      span {
        color: var(--primary-color);
      }
    }

    .text {
      @include text-style(var(--font-family-secondary), 400, 18px, 1.56, #676767);

      opacity: 0.7;
      margin: 0 0 55px;

      span {
        color: var(--primary-color);
      }
    }

    .reviews {
      @include flex-center(false);

      margin-top: 35px;

      .stars {
        margin: 8px 0 0 20px;
      }

      p {
        @include text-style(var(--font-family-seventh), 500, 16px, 1.5, #334155);

        opacity: 0.7;
        margin: 10px 0 0 9px;
      }
    }

  }

  .decor {
    position: relative;
    max-width: 40%;
    margin-right: 9.5%;

    &::after {
      @include pseudo-element(12%, -15% , auto, auto, 100px,  100px,  '../../../shared/assets/images/arrow.svg');

      z-index: 1;
    }

    .notification {
      @include position-style(auto, auto, 90%, 40%, 73%);


      &Item {
        @include flex-center(false);

        border-radius: 16px;
        background: #fff;
        box-shadow: 0 16px 25px rgb(70 70 70 / 5%);
        padding: 5px 15px;

        &::before {
          @include pseudo-element(auto, 8%, 100%, auto, 42px, 28px, "../../../shared/assets/images/decor-1.svg");
        }
      }

      &Img {
        max-width: 23%;
        margin-right: 20px;

        img {
          @include img-style;
        }
      }

      &Info {
        width: 100%;

        h6 {
          @include text-style(var(--font-family-main), 600, 16px, 1.5,var(--thirdary-color));

          margin: 0 0 5px;
        }

        p {
          @include text-style(var(--font-family-main), 500, 10px, 1.5, var(--thirdary-color));

          margin: 0 0 5px;
        }

        div {
          @include text-style(var(--font-family-main), 500, 11px, 1.5, var(--fourth-color));

          text-align: right;
        }
      }
    }

    .graph {
      @include position-style(auto,auto,-15%,0,auto,73%);

      &Item {
        background-color: #fff;
        box-shadow: 14.1205px 18.8273px 37.6546px rgb(26 32 44 / 15%);
        border: 1px solid #edf2f7;
        border-radius: 14px;
        padding: 5px 0;

        &::before {
          @include pseudo-element(100%, auto, auto, -10%, 38px, 33px, '../../../shared/assets/images/decor-2.svg');

          z-index: 2;
        }

        img {
          @include img-style;
        }
      }
    }
  }
}

.features {
  position: relative;
  overflow: hidden;
  background: var(--primary-color);
  padding: 55px 0;
  margin-top: 20px;

  .list {
    @include flex-center;

    align-items: normal;

    li {
      flex: 0 1 33.33%;
      padding: 0 25px;
      text-align: center;
      border-right: 1px solid #c5c5c5;

      &:nth-child(3n) {
        border: none;
      }

      h3 {
        @include text-style(var(--font-family-main), 700, 43px, normal, #fff);

        margin-bottom: 10px;
      }

      p {
        @include text-style(var(--font-family-secondary), 500, 14px, normal,#C5BFED);

        margin: 0;
      }
    }
  }
}

.download {
  &_container {
    @include flex-center(false);

    justify-content: space-evenly;

    .image {
      flex-shrink: 1;
      position: relative;

      img {
        @include img-style;
      }

      &::before {
        @include pseudo-element(-5%, auto, auto, 100%, 38px, 33px, '../../../shared/assets/images/decor-2.svg', cover,rotate(180deg));

        z-index: 2;
      }
    }

    .content {
      flex: 0 1 48%;

      h2 {
        @include text-style(var(--font-family-main), 600, 45px, normal, var(--thirdary-color));

        text-align: left;
        margin: 0 0 60px;

        span {
          color: var(--primary-color)
        }
      }

      ul {
        margin-bottom: 50px;

        li {
          @include text-style(var(--font-family-secondary), 500, 20px, 1.5, var(--secondary-color));

          list-style: initial;
          margin-bottom: 25px;

          &::marker {
            unicode-bidi: isolate;
            font-variant-numeric: tabular-nums;
            text-transform: none;
            text-indent: 0;
            text-align: start;
            text-align-last: start;
          }
        }
      }

      button {
        &::before {
          @include pseudo-element(80%, auto, auto, 90%, 169px, 61px, '../../../shared/assets/images/download-arrow.svg');
        }
      }
    }
  }
}

.restaurants {
  h2 {
    @include text-style(var(--font-family-main), 600, 45px, normal, var(--thirdary-color));

    text-align: center;
    margin: 0 0 85px;

    span {
      color: var(--primary-color)
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
    margin-bottom: 65px;

    li {
      border-radius: 30px;
      overflow: hidden;
      background-color: #fff;
      border: 1.5px solid #f4f4f6;
      box-shadow: 6px 71px 36px rgb(229 229 229 / 70%);
      transition: transform 0.3s ease;

      .res_img {
        position: relative;

        &::before {
          @include pseudo-element(0, auto, auto, 0, 100%, 98%);

          z-index: 2;
          background-color: rgb(50 49 66 / 10%);
        }
      }

      .info {
        padding: 10px 10px 15.76px 35px;


        h3 {
          @include text-style(var(--font-family-main), 600, 26px, normal,var(--thirdary-color));

          margin: 0 0 5px;
        }

        .bottom {
          @include flex-center(true,true);

          column-gap: 30px;

          .time {
            @include text-style(var(--font-family-thirdary),500, 20px, normal, var(--fifth-color));

            margin-right: 5px;
          }

          .raiting {
            @include text-style(var(--font-family-thirdary), 500, 20px, normal, var(--fifth-color));

            flex: 1 1 auto;
            position: relative;

            &::before {
              @include pseudo-element(-15%, 100%, auto, auto, 26px, 27px, '../../../shared/assets/images/purple-star.svg');
            }
          }
        }
      }
    }
  }
}

.dishes {
  h2 {
    @include text-style(var(--font-family-main), 600, 45px, normal, var(--thirdary-color));

    text-align: center;
    margin: 0 0 75px;

    span {
      color: var(--primary-color)
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 30px;
    margin-bottom: 65px;

    li {
      background-color: #fff;
      border: 1.5px solid #f4f4f6;
      border-radius: 35px;
      box-shadow: 7px 82px 41px rgb(229 229 229 / 70%);
      overflow: hidden;
      position: relative;
      padding: 17px;
      transition: transform 0.3s ease;

      .img {
        img {
          max-width: 185px;
          max-height: 185px;
          vertical-align: top;
        }
      }

      h3 {
        @include text-style(var(--font-family-main), 600, 23px, normal, var(--thirdary-color));

        margin: 0 0 5px;
      }

      .info {
        @include flex-center(false);

        margin-bottom: 7px;

        .time, .raiting {
          @include text-style(var(--font-family-thirdary), 500, 17px, normal, var(--fifth-color));
        }

        .time {
          margin-right: 35px;
        }

        .raiting {
          color: var(--fifth-color);
          position: relative;

          &::before {
            @include pseudo-element(-20%, 100%, auto, auto, 23px, 23px,'../../../shared/assets/images/purple-star.svg');

            margin-right: 4px;
          }
        }
      }

      .bottom {
       @include flex-center;

        columns: 5px;
        margin: 8px 0 10px;

        .price {
          @include text-style(var(--font-family-thirdary), 700, 26px, normal, var(--thirdary-color));
          
          span {
            font-size: 20px;
            color: var(--fifth-color);
          }
        }

        button {
          background-color: #323142;
          border-radius: 9px;
          padding: 10px 10px 5px;

          svg {
            width: 16px;
            height: 16px;
            fill: #fff;
          }
        }
      }
    }
  }
}

.purchase {
  &_container {
    @include flex-center;

    align-items: flex-start;
    column-gap: 10px;

    .header {
      flex: 0 1 50%;

      h2 {
        @include text-style(var(--font-family-main), 600, 45px, normal, var(--thirdary-color));

        text-align: left;
        margin: 0 0 50px;

        span {
          color: var(--primary-color);
        }
      }

      ul {
        display: grid;
        grid-template-columns: 0.7fr;

        li {
          @include flex-center(false);

          background: #fff;
          box-shadow: 0 20px 30px rgb(70 70 70 / 10%);
          border-radius: 16px;
          margin-bottom: 10px;
          padding: 5px 15px;

          .img {
            max-width: 23%;
            margin-right: 20px;

            img {
              @include img-style;
            }
          }

          .info {
            width: 100%;

            h3 {
              @include text-style(var(--font-family-main), 600, 16px, normal, var(--thirdary-color));

              margin: 0 0 5px;
            }

            p {
              @include text-style(var(--font-family-main), 500, 10px, normal, var(--thirdary-color));

              margin: 0 0 5px;
            }

            div {
              @include text-style(var(--font-family-main), 500, 11px, normal, var(--fourth-color));

              text-align: right;
            }
          }
        }
      }
    }

    .purchaseGraph {
      flex: 0 1 47%;
      background: #fff;
      border: 1px solid #edf2f7;
      border-radius: 25px;
      box-shadow: 0 20px 30px rgb(50 49 66 / 20%);
      padding: 43px;

      .header {
        @include flex-center;

        margin-bottom: 45px;

        h3 {
          @include text-style(var(--font-family-thirdary), 600, 28px, normal, var(--sixth-color));

          margin: 0;
        }

        select {
          @include text-style(var(--font-family-thirdary), 600, 19px, normal, var(--sixth-color));

          letter-spacing: 0.6px;
          background: #fafafa;
          border-radius: 13px;
          padding: 12px 18px;
          cursor: pointer;
        }
      }

      .info {
        li {
          @include flex-center(true,true);

          position: relative;
          border: 1px solid #edf2f7;
          border-radius: 19px;
          padding: 25px 25px 55px;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          .wrapper {
            @include flex-center(false);

            .about {
              margin-left: 15px;
              letter-spacing: 0.6px;

              h4 {
                @include text-style(var(--font-family-thirdary), 600, 19px, normal, var(--sixth-color));

                margin: 0 0 7px;
              }

              p {
                @include text-style(var(--font-family-thirdary), 500, 16px, normal, var(--seventh-color));

                margin: 0;
              }
            }
          }

          .price {
            @include text-style(var(--font-family-thirdary), 600, 22px, normal, var(--sixth-color));
          }
        }
      }
    }
  }
}

.cancelled {
  color: var(--red) !important;
}

.delivered {
  color: var(--green) !important;
}

.graphPurple {
  &::before {
    @include pseudo-element(auto, 25px, 25px, 25px, auto, 9.42px);

    border-radius: 78px;
    background-color: var(--primary-color);
    opacity: 0.2;
    }

  .graphIcon {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    background-color: #f4f0ff;

    &::after {
      @include pseudo-element(25%,auto, auto, 25%,  25px, 25px, '../../../shared/assets/images/wallet.svg', translate(-50%, -50%));
    }
  }

  &::after {
    @include pseudo-element(auto, 25px, 25px, 25px,  70%, 9.42px);

    border-radius: 78px;
    background-color: var(--primary-color);
  }
}

.graphYellow {
  &::before {
    @include pseudo-element(auto, 25px, 25px, 25px, auto, 9.42px);

    border-radius: 78px;
    background-color: #fbac18;
    opacity: 0.2;
  }

  .graphIcon {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    background-color: #f2fdf6;

    &::after {
      @include pseudo-element(25%, auto, auto, 25%,  25px, 25px, '../../../shared/assets/images/money.svg',translate(-50%, -50%));
    }
  }

  &::after {
    @include pseudo-element(auto, 25px, 25px, 25px,  40%, 9.42px);

    border-radius: 78px;
    background-color: #fbac18;
  }
}

.subscribe {
  padding-bottom: 100px;

  .wrapper {
    padding: 40px 65px;
    background: #6c5fbc url('../../../shared/assets/images/sub-bg.jpg') top center no-repeat;
    background-size: cover;
    border-radius: 14px;
    position: relative;

    &::after {
      @include pseudo-element(30%, 5%, auto, auto, 274px, 276px, '../../../shared/assets/images/food-1.svg');
    }

    h2 {
      @include text-style(var(--font-family-main), 800, 70px, normal, #fff);

      text-transform: uppercase;
      margin: 0 0 20px;
    }

    form {
      display: inline-block;
      position: relative;

      input {
        @include text-style(var(--font-family-main), 800, 16px, normal, #878787);

        width: 440px;
        height: 68px;
        background: #fff;
        box-shadow: 0 7px 45px rgb(0 0 0 / 10%);
        border: none;
        border-radius: 14px;
        padding-left: 20px;
      }

      div {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.footer {
  padding: 80px 0 40px;
  background-color: #eaeaea;

  .header {
    @include flex-center;

    padding-bottom: 40px;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 50px;

    a {
      @include flex-center(false);

      img {
        @include img-style;
      }

      span {
        @include text-style(var(--font-family-main), 600, 21px, normal, var(--primary-color));

        margin-left: 5px;
      }
    }

    ul {
      display: flex;

      li {
        a {
          @include text-style(var(--font-family-secondary), 500, 18px, normal, var(--secondary-color));

          transition: color 0.2s ease;
        }

        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }

  .bottom {
    @include flex-center;

    p {
      @include text-style(var(--font-family-secondary), 500, 17px, normal, #999);

      margin: 0;
    }

    ul {
      display: flex;

      li {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}

// TODO: ??
.view {
  text-align: right;

  a {
    @include text-style(var(--font-family-main), 500, 20px, normal, var(--fourth-color));

    margin-right: 5px;

    svg {
      margin-left: 5px;
      width: 19px;
      height: 19px;
      stroke: #acadb9;
      fill: none;
    }
  }
}

.tag {
  @include text-style(var(--font-family-main), 500, 12px, normal, auto);

  max-width: fit-content;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 4px 8px;
}

.red {
  color: var(--red);
  background-color: var(--red-bg);
}

.yellow {
  color: var(--yellow);
  background-color: var(--yellow-bg);
}

.green {
  color: var(--green);
  background-color: var(--green-bg);
}
